[submodule "MangaList/vendor/yaml-cpp"]
	path = MangaList/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "MangaList/vendor/spdlog"]
	path = MangaList/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "MangaList/vendor/debugbreak"]
	path = MangaList/vendor/debugbreak
	url = https://github.com/scottt/debugbreak.git
[submodule "GUI/vendor/glfw"]
	path = GUI/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "GUI/vendor/imgui"]
	path = GUI/vendor/imgui
	url = https://github.com/ocornut/imgui.git
